.bigTitle {
  color: #673ab7;
  font-weight: bolder;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: xx-large;
}

.introduction {
  margin: auto auto 5vh auto;
  width: 70vw;
  color: #757575;
  font-weight:500;
}

.rightSpace {
  margin-right: 10px;
}
